* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

:root {
  /* Primary Colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* Neutral Colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  text-decoration: none;
  list-style: none;
  padding: 5px 15px 5px 15px;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
}
nav li:hover {
  border: 1px solid var(--very-dark-violet);
}
nav a {
  text-decoration: none;
  color: var(--dark-grayish-violet);
}
nav a:hover {
  color: var(--very-dark-violet);
}
.hamburger {
  display: none;
}
.logo {
  padding-top: 10px;
}
